<p id="notice"><%= notice %></p>

<p>
  <strong>Summary:</strong>
  <%= @alert.summary %>
</p>

<p>
  <strong>Details:</strong>
  <%= @alert.details %>
</p>

<%= link_to 'Edit', edit_alert_path(@alert) %> |
<%= link_to 'Back', alerts_path %>
